{% extends 'layout/app.twig' %}

{% block content %}

    <div class="container">

        <aside class="page-title">
            <h1 class="h1">Page not found</h1>
        </aside>

        <main class="entry-content">

            <p class="text">The page you are looking for has either been removed or moved elsewhere.</p>

        </main>

    </div>

{% endblock %}
