{% extends 'layout/app.twig' %}

{% block content %}

    {% embed 'partial/page-banner.twig' %}
        {% block banner_attr %} style="background-image:url({{ Image(guide.thumbnail).src|resize(1000,300) }});"{% endblock %}
        {% block banner_content %}
            <aside class="page-title">
                <h1 class="h1">{{ guide.title }}</h1>
                <h6 class="h6">{{ guide.guide_description }}</h6>
            </aside>
        {% endblock %}
    {% endembed %}

    <main class="guide-form">

    </main>


{% endblock %}
