$phone: 375px;
$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$wide-screen: 1216px;
$full-hd: 1408px;

:root {
  --phone: #{$phone};
  --mobile: #{$mobile};
  --tablet: #{$tablet};
  --desktop: #{$desktop};
  --widescreen: #{$wide-screen};
  --fullhd: #{$full-hd};
}

@supports not (--phone: 375px) {
  $phone: 375px;
}
@supports not (--mobile: 768px) {
  $mobile: 768px;
}
@supports not (--tablet: 769px) {
  $tablet: 769px;
}
@supports not (--desktop: 1024px) {
  $desktop: 1024px;
}
@supports not (--widescreen: 1216px) {
  $wide-screen: 1216px;
}
@supports not (--fullhd: 1408px) {
  $wide-screen: 1408px;
}
