$white: #ffffff;
$black: #000000;
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #0077b5;

$hs-navy: #0C2F60;
$hs-gray: #4C4D4F;
$hs-off-white:#F4F4F7;
$hs-light-blue: #5B98C5;

$hs-purple: #581F4A;
$hs-yellow: #A48449;
$hs-green: #71A191;
$hs-light: #E7E7E9;

:root {
    --white: #{$white};
    --black: #{$black};
    --facebook: #{$facebook};
    --twitter: #{$twitter};
    --linkedin: #{$linkedin};
    --hs-navy: #{$hs-navy};
    --hs-gray: #{$hs-gray};
    --hs-off-white: #{$hs-off-white};
    --hs-purple: #{$hs-purple};
    --hs-yellow: #{$hs-yellow};
    --hs-green: #{$hs-green};
    --hs-light: #{$hs-light};
    --hs-light-blue: #{$hs-light-blue};
}
