.home-intro {
    padding: 3rem 0;

    .container {

    }

    .h2, .h5 {
        text-align: center;
        a {
            text-decoration: underline;
        }
    }

    .h2 {
        padding: 1.5rem 0;
    }

    .h5 {
        margin: auto;
        padding: 0 0 1.5rem 0;
        @media only screen and (min-width: $desktop) {
            max-width: 65%;
        }
    }
}

.home-intro__video {
    display: block;
    margin: auto;
    @media only screen and (min-width: $desktop) {
        max-width: 80%;
    }
}
