.menu {
    display: none;
    border-top: 2px solid $hs-navy;
    border-bottom: 2px solid $hs-navy;
    background-color: $hs-off-white;

    @media only screen and (min-width: $desktop) {
        display: block;
    }

    >.container {
        display: flex;
        justify-content: space-between;
    }
}

.menu__wrap {
    display: flex;
    justify-content: flex-start;
}

.menu__item {
    margin: 0 1.25rem;
    position: relative;
    padding: 1rem 0;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.menu-item-has-children {

        position: relative;

        &::after {
            content: '';
            position: absolute;
            right:-25%;
            top:50%;
            transform: translateY(-30%);
            width: 8px;
            height: 8px;
            background-color: $hs-navy;
            clip-path: polygon(100% 0, 0 0, 50% 100%);
        }

        .dropdown {
            position: absolute;
            display: block;
            z-index: 3;
            top:100%;
            left:0;
            width: 150%;
            height: 0;
            transition: height 300ms ease;
            overflow: hidden;
            filter: drop-shadow(0 5px 5px rgba(32,32,34,.2));
        }

        &:hover {
            .dropdown {
                height: 100%;
                overflow: visible;
                transition: height 300ms ease;
            }
        }

        .menu__item__child {
            a {
                @include font-size(13px);
                border-top: 1px solid $hs-gray;
                display: block;
                background-color: $white;
                text-align: left;
                padding: 0.7rem 0.5rem;
                width: 150%;
                color: $hs-navy;
                transition: none;
            }

            &:hover {
                a {
                    background-color: $hs-navy;
                    color: $white;
                    transition: none;
                }
            }
        }
    }
}

.menu__item__link {
    @include font-size(16px);
    color: $hs-navy;
    font-weight: bold;
}
