<section class="page-banner" {% block banner_attr %}{% endblock %}>
    <div class="container">
        {% block banner_content %}
            {{ title }}
        {% endblock %}
    </div>
</section>
